<form action="addCommercial/" method="post" class="was-validated">
  {% csrf_token %}
  <div class="form-group">
      <label>First Text:</label>
      <input class="form-control" id="first_text" type="text" placeholder="Enter first text" name="first_text" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
  </div>
  <div class="form-group">
      <label>Second Text:</label>
      <input class="form-control" id="second_text" type="text" placeholder="Enter second text" name="first_text" required>
      <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>
  </div>
  <div class="form-group">
      <label>Thirst Text:</label>
      <input class="form-control" id="thirst_text" type="text" placeholder="Enter thirst text" name="thirst_text" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>