{% load bootstrap_icons %}
<form action="updateRecordCommercial/{{ commercial.id }}" method="post" class="was-validated" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
      <label>ID</label>
      <input class="form-control" id="id" type="text" name="commercial" value="{{commercial.id}}" disabled>
  </div>
  <div class="form-group">
      <label>First Text</label>
      <input class="form-control" id="first_text" type="text" placeholder="Enter first text" name="commercial" value="{{commercial.first_text}}" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
  </div>
  <div class="form-group">
      <label>Second Text</label>
      <input class="form-control" id="second_text" type="text" placeholder="Enter second text" name="commercial" value="{{commercial.second_text}}" required>
      <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>
  </div>
  <div class="form-group">
      <label>Thirst Text</label>
      <input class="form-control" id="thirst_text" type="text" placeholder="Enter thirst text" name="commercial" value="{{commercial.thirst_text}}" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
  </div>
  <div class="form-group">
     <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
       <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0" name="file_image" accept="image/*" required>
         <label id="upload-label" for="upload" class="font-weight-light text-muted">{{ commercials.image_name }}</label>
         <div class="input-group-append">
            <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> {% bs_icon 'cloud-upload' %} <small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
         </div>
       </div>
  </div>
  <div class="image-area mt-4"><img id="imageResult" src="{{commercial.commercials_image}}" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
  <a href="../" class="btn btn-primary" role="button">Back</a>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

